
body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
}
h3{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: bold;
    color: rgb(21, 38, 133);
}
section{
    display: flex;
}
.hulf-part{
    width: 65%;
    padding-left: 7%;
    padding-top: 20px;
}
.hulf-part1 img{
    border-radius: 50%;
    height: 300px;
    width: 320px; 
}
.hulf-part1{
    width: 50%;
    padding-left: 13%;
    padding-top: 8%;
}
.hilight_name{
    color: rgb(168, 126, 9);
}
.first_about{
    font-size: 30px;
    text-align: justify;
}
.find_me{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: blue;
    background: #FE6700;
    padding: 6px 12px;
    border-radius: 7px;
}