
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
}
h3{
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    font-weight: bold;
    color: rgb(21, 38, 133);
}
section{
    display: flex;
    margin-bottom: 40px;
}
.hulf-part{
    width: 65%;
    padding-left: 7%;
    padding-top: 20px;
}
.hulf-part1 img{
    border-radius: 50%;
    height: 300px;
    width: 320px; 
    border: rgb(16, 102, 16) solid 5px;
}
.hulf-part1{
    width: 50%;
    padding-left: 13%;
    padding-top: 8%;
}
.hilight_name{
    color: rgb(168, 126, 9);
}
.first_about{
    font-size: 30px;
    text-align: justify;
}
.find_me{
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    color: blue;
    background: #FE6700;
    padding: 6px 12px;
    border-radius: 7px;
    border: black solid 2px;
}

.se_section{
    display: flex;
    margin-bottom: 90px;
}
.se_div{
    width: 50%;
    padding-left: 7%;
    padding-top: 7%;
}
.se_div img{
    
    width:600px;
    height:405px;
    border: red solid 4px;
    margin-top: 43px;
}
#se_h1{
    color:rgb(70, 58, 23); 
    font-size: 40px;
}
.first_about{
    font-size: 28px;
    text-align: justify;
    padding-right: 6%;
}
#resume{
    color: white;
    background-color: rgb(49, 84, 189);
    font-weight: bolder;
    padding: 8px 14px;
    border: rgb(236, 106, 13) solid 2px;
    border-radius: 7px;
}
